* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main__container {
  margin: 0 auto;
}

.heading {
  margin-bottom: 1.5rem;
}

.card__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.card_img {
  height: 100%;
  width: 100%;
}

/* Alert Component styling */
#alert__box {
  margin-top: 55px;
  height: 60px;
}

#no_notes {
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 600;
  color: cadetblue;
}

@media screen and (max-width: 993px) {
  .card__container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .card__container {
    grid-template-columns: 1fr;
  }

  .heading {
    font-size: 1.5rem;
  }

  #no_notes {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 460px) {
  .heading {
    font-size: 1.1rem;
  }

  #no_notes {
    font-size: 15px;
  }
}
